.block.notice
  %h3 Simple Block
  .content
    %p 
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} Link 1
    %li
      %a{:href => "#"} Link 2   
    %li 
      = render 'layouts/donate' 
