#block-text.block
  .content
    %h2.title Mario Kart Communities!
    .inner
      %p.first
        What is a community? 
        %br
        Mario Kart 7 has a unique feature called Community.
        %br
        Community allows friends or people to join it by entering a Community Code.
        %br
        This allows people to pick race types and items for the Community. 
      %p

        What can Community allow?
        %br
        It allows the creator to set what race type and items are allowed in community.
        %br     
        %br
        Race Types are: 
        %br
        50cc 
        %br
        100cc
        %br
        150cc     
        %br
        Ballon Battle 
        %br
        Coin Runner 
        %br  
        %br
        Item Types are:
        %br
        All Items
        %br
        Coins Only
        %br
        Bananas Only
        %br
        Mushrooms Only 
        %br
        Bob-ombs Only 
        %br
        No Items. 
        %br
        %br
        How do I join a Community?

- content_for :sidebar, render(:partial => 'sidebar')
                                                                