#block-text.block
  .content
    %h2.title Mario Kart Communities!
    .inner
      %p.first
        Welcome to Mario Kart Communities! This website allows you to add your community to our list. This will allow you to share your community with the public, so you will have more people to race with you, with your custom options! 

      %p
        * If you don't know about communities, click on the What's a Community tab. 
        %br
        * If you want to search, see or add your community, click on the Communities tab.

- content_for :sidebar, render(:partial => 'sidebar')
